@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400');

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;


  font-family: "Montserrat:400|Inconsolata:400", Arial, Helvetica, sans-serif;
  font-family: "Sofia", cursive;
}
:root{
    --lime:#00DD00;
    --pastel-purple:#C5ADC5;
    --light-steel-blue:#B2B5E0;
    --yellow-green:#BAFF39;
    --ivory:#FAF5E9;
    --tan-yellow:#FFCC00;
    --green:#009B4D;
    --raz:#EF036C;
    --heli:#EE72F8;
    --light-blue:#E9F1FA;
    --bright-blue:#00ABE4;
    --white:white;
    --black:black;
    --beige:#DDD0C8;
    --dark-grey:#323232;
    --neon-blue:#2272FF;
    --orange:#FAE7A5;
    --orange-2:#F9B872;
    --powder-blue:#B6E1E7;
    --cavern-pink: #E1B0AC;
    --light-pink :#F2D4D6;
    --navy-blue:#213F99;
    --deep-navy-blue:#01257D;
    --electric-blue :#00FFFF;
    --electric-blue-1 :steelblue;
    --violet-2: rgb(184, 118, 241);
    --violet-1: rgb(126 34 206);
    --steel-blue:steelblue;
    --my-msg:rgb(126 34 206);
    --box-shadow-1: var(--bright-blue) 0px 2px 5px;
    --box-shadow-2: var(--violet-2) 0px 2px 5px;
    --box-shadow-3: var(--raz) 0px 2px 5px;
    --box-shadow-4: var(--heli) 0px 2px 5px;
}

#chatbox-1-h1{
    text-align: center;
    font-size: 3rem;
   color: var(--steel-blue);
    margin:1.3rem auto;
    margin-bottom: 3rem;
}
#chatbox-2-h1{
    font-size: 2.4rem;
    margin-top: .5rem;
    text-align: center;
    color: var(--steel-blue);
}
body{
   background-color:var(--white);
}

#theme-icon {

    position: fixed;
    margin: .5rem .8rem;
    width: 4rem;
    height: 2rem;
    border-radius: 1.3rem;
    top: 0.5rem;
    right: 0.4rem;
    background-color: var(--black);
    padding: .3rem;
    display: flex;
    justify-content: start;
    cursor: pointer;

  }
  #ball {
    background-color: var(--white);
    width: 50%;
    height: 100%;
    border-radius: 1rem;
  }
  ::-webkit-scrollbar{
    display: none;
  }
#chatbox,#chatbox-2{
    box-shadow: var(--box-shadow-1);
    margin:6rem auto;
    width:30rem;
    max-width: 90vw;
    border-radius: .3rem;
    overflow: auto;
}

#chatbox-2-h2{
    overflow: scroll;
    font-family: "Reenie Beanie", cursive;
    font-size: 1.5rem;
    color:var(--black);
    margin:1rem .1rem 0 1rem;
    margin-left: 2rem;
}
#chatbox-2{
    width:40rem;
    margin-top: 2rem;
    display: none;
}
#user-wrap,#room-wrap{
    display: flex;
    margin: 2rem;
    margin-bottom: 2rem;

}
#room-wrap{
    cursor: pointer;
}
#user-name,#room-name{
    line-height: 3rem;
    font-family: "Reenie Beanie", cursive;
    font-size: 2rem;
    flex-basis: 40%;
    color: var(--electric-blue-1);
    display: grid;
    align-items: start;
    align-content: start;
    padding-bottom: 1rem;
}
#user{
    color:var(--black);
    padding: .5rem;
}
#room-wrap-1{
    color:var(--black);
    display: flex;
    margin-top: .5rem;
    

}
.room-down{
    color:var(--black);
    display: none;
    margin: .5rem auto .5rem 1rem;
    
    
}
#room0{
    
    flex-basis: 90%;
    margin: .3rem;
    margin-left: .5rem;
    display: grid;
    align-items: center;
    align-content: center;
}
#down{
    
    margin: .3rem;
    cursor: pointer;
    display: grid;
    align-items: center;
    align-content: center;
}

#user,#room{
    background-color: var(--white);
    flex-basis: 60%;
    border: .05rem solid var(--bright-blue);
    border-radius: .1rem;
    margin-bottom: 1rem;
    display: grid;
    align-items: center;
    align-content: center;
    padding-bottom: rem;
}

#join,#leave,#show-users{
    display: block;
    margin: 1rem auto;
    width:8rem;
    font-size: 1.2rem;
    padding: .3rem;
    border: none;
    outline: none;
    background-color: var(--bright-blue);
    color:white;
    border-radius: .4rem;
    border:.1rem solid var(--bright-blue);
    cursor: pointer;
    margin-bottom: 2rem;
}
#join:hover,#leave:hover{
    background-color:white;
    color: var(--bright-blue);
    
}
#show-users:active{
    background-color:white;
    color: var(--bright-blue);
}
#leave{
    margin-top: 1rem;
}

#chatbox-2-h1{
    margin-bottom: .2rem;
}
#room-info,#users-info{
   
    margin: 1rem auto;
    width:8rem;
    font-size: 1.2rem;
    padding: .3rem;
    text-align: center;
  
    background-color: var(--violet-1);
    color:white;
    border-radius: .4rem;
    cursor: pointer;
    margin-bottom: 2rem;
}
#wrappe,#wrappe-2{
    display: flex;
    flex-wrap: wrap;
}
 /* #chatbox{
    display: none;
}  */
#users-msg-wrap{
    display: flex;
    flex-wrap: wrap;
    box-shadow: var(--box-shadow-2);
    margin: .5rem;
}
#users{

    flex-basis: 25%;
    margin: .5rem auto;
    height: 25rem;
    overflow:auto;
    overflow-x: scroll;
    overflow-y: scroll;
    padding-top: 1rem;
    padding: .2rem;
    color:var(--bright-blue);
    display: none;
    /* display: none; */
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--bright-blue);
  

}
.user{
    padding:.2rem;
    font-size: 1.5rem;
    margin:0.1rem;
    text-align: center;
    font-family: "Reenie Beanie", cursive;
   
}
#messages{
    /* width:95%; */
    flex-basis: 95%;
    color: var(--electric-blue-1);
   
    margin: .5rem auto;
    height:25rem;
    overflow-y:auto;
    
    padding:.2rem;
   
 
  
    
}
.msg-name{
    color: var(--black);

}
.message{
    margin: 1rem .1rem 1rem .1rem;
    box-shadow: var(--box-shadow-2);
    padding: .5rem;
    border-radius: .2rem;
    display: inline-block;
    overflow-x: scroll;
 
}

.msg-wrap{
    display: flex;
    width: 100%;
   
}
.msg-wrap-me{
    display: flex;
    justify-content: end;
    
}

.msg-wrap-me>.message{
    text-align: end;
    box-shadow: var(--box-shadow-3);
    color:var(--my-msg)
}

#users-info,#show-users,#room-info,#leave{
    margin: 1rem auto;
}

#send-msg-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height:3rem;
    margin:.3rem auto;
}
#msg{
    flex-basis: 85%;
    margin: auto;
    height: 90%;
    background-color: var(--white);
    border: none;
    box-shadow: var(--box-shadow-4);
    color:var(--black);
    padding: .5rem;
}
#send-ico{
    flex-basis: 5%;
    margin: auto;
    width: 2rem;
    height: 2rem;
    border-radius: 40em;
}
#error-msg
{
    margin: 1rem;
    color:var(--heli);
    display: none;
}
